<h1>{{title}}</h1>

{{> menu}}

{{#if login.loggedIn}}
	<ul>
		<li><a href="/{{key}}/edit">Edit</a></li>
		<li><a href="/addpage">Add Page</a></li>

	</ul>
{{/if}}


<p class="content">{{{content}}}</p>